In [3]:
import turtle
def draw_square():
    window = turtle.Screen()
    window.bgcolor("#A10384")
    
    b = turtle.Turtle()
    b.shape("turtle")
    b.color("yellow")
    b.speed(2)
    b.forward(100)
    b.right(90)
    b.forward(100)
    b.right(90)
    b.forward(100)
    b.right(90)
    b.forward(100)
    b.right(90)
    
    draw_circle()
    #draw_triangle()
    #draw_heart()
    window.exitonclick()
    turtle.bye()

def draw_circle():
    c = turtle.Turtle()
    c.shape("arrow")
    c.color("blue")
    c.circle(180)
    
def draw_triangle():
    t = turtle.Turtle()
    t.shape("turtle")
    t.color("green")
    t.right(0)
    t.forward(100)
    t.right(180+60)
    t.forward(100)
    t.right(180+60)
    t.forward(100)
    
def draw_heart():
    h = turtle.Turtle()
    h.shape("bird")
    h.color("purple")
    h.right(60)
    h.forward(200)
    h.right(180+60)
    h.forward(200)

In [4]:
draw_square()

Terminator:

In [15]:
import turtle
t = turtle.Turtle()
t.left(90) # make the turtle face the top of the screen

def halfcircle():
    # this code generates 2 * 1/4th a circle
    for i in range(2):
        # this code generates 1/4th a circle
        for i in range(10): 
            t.right(i * 2) # keep rotating the turtle with a little bit more and more
            t.forward(i) # move the turtle forward more and more

halfcircle()
t.left(180)
halfcircle()
t.right(45)
t.forward(100)
t.right(45+65)
t.forward(100)
turtle.exitonclick()
turtle.bye()

Terminator:

TypeError: unsupported operand type(s) for +: 'range' and 'list'

In [1]:
import turtle

from math import sin, pi

def shape(size, shape):
    turtle.pensize(10)
    radius = size * sin(shape * pi / 180) / (1 + sin((90 - shape) * pi / 180))
    turtle.right(shape)
    turtle.forward(size)
    turtle.circle(radius, 180 + shape)
    turtle.right(180)
    turtle.circle(radius, 180 + shape)
    turtle.forward(size)
    turtle.left(180 - shape)


def at(x, y):
    turtle.penup()
    turtle.home()
    turtle.forward(x)
    turtle.left(90)
    turtle.forward(y)
    turtle.pendown()

at(0, 0)

def names1():
    turtle.pensize(5)
    turtle.write("Tarun", True, align="left")

def names2():
    turtle.pensize(5)
    turtle.write("Nonu", True, align="right")

def names3():
    turtle.pensize(5)
    turtle.write("Home", True, align="center")

at(0,-70)
shape(200,60)
at(-50,-90)
names1()
at(50,-90)
names2()
at(0,20)
names3()
turtle.exitonclick()
turtle.bye()

Terminator:

Terminator:

In [43]:
import numpy as np
from pandas import DataFrame, Series

In [29]:
#def avg_medal_count():

countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan','JhumriTalai']

gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0,0]
silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0,0]
bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1,0]
    
olympic_medal_counts = {'country_name':countries,
                            'gold': Series(gold),
                            'silver': Series(silver),
                            'bronze': Series(bronze)}    
df = DataFrame(olympic_medal_counts)
    
    # YOUR CODE HERE

#return avg_medal_count

In [30]:
df

    bronze    country_name  gold  silver
0        9    Russian Fed.    13      11
1       10          Norway    11       5
2        5          Canada    10      10
3       12   United States     9       7
4        9     Netherlands     8       7
5        5         Germany     8       6
6        2     Switzerland     6       3
7        1         Belarus     5       0
8        5         Austria     4       8
9        7          France     4       4
10       1          Poland     4       1
11       2           China     3       4
12       2           Korea     3       3
13       6          Sweden     2       7
14       2  Czech Republic     2       4
15       4        Slovenia     2       2
16       3           Japan     1       4
17       1         Finland     1       3
18       2   Great Britain     1       1
19       1         Ukraine     1       0
20       0        Slovakia     1       0
21       6           Italy     0       2
22       2          Latvia     0       2
23       1       Australia     0       2
24       0         Croatia     0       1
25       1      Kazakhstan     0       0
26       0     JhumriTalai     0       0

In [35]:
    #atleast_one_medal = 
newdf = df[(df['gold'] >=1) | (df['silver'] >=1) | df['bronze']>=1]

In [37]:

avg_medal_count = newdf.mean()

In [38]:
avg_medal_count

bronze    3.807692
gold      3.807692
silver    3.730769
dtype: float64

In [46]:
df[['gold','silver','bronze']].apply(np.mean)

gold      3.666667
silver    3.592593
bronze    3.666667
dtype: float64

In [60]:
olympic_medal_counts = {'country_name':countries,
                            'gold': Series(gold),
                            'silver': Series(silver),
                            'bronze': Series(bronze)}    
olympic_medal_counts_df = DataFrame(olympic_medal_counts)

In [66]:
medals = olympic_medal_counts_df[['gold','silver','bronze']]

In [67]:
points = numpy.dot(medals,[4,2,1])

In [70]:
olympic_points = {'country_name':Series(countries), 'points':Series(points)}

In [71]:
olympic_points_df = DataFrame(olympic_points)

# Learning scikit-learn

In [74]:
from sklearn import svm

In [75]:
print('The scikit-learn version is {}.'.format(sklearn.__version__))

The scikit-learn version is 0.17.1.

In [76]:
import numpy as np
X = np.array([[-1, -1], [-2, -1], [-3, -2], [1, 1], [2, 1], [3, 2]])
Y = np.array([1, 1, 1, 2, 2, 2])
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(X, Y)

print(clf.predict([[-0.8, -1]]))

[1]

In [78]:
import numpy as np
X = np.array([[-1, -1], [-2, -1], [-3, -2], [1, 1], [2, 1], [3, 2]])
Y = np.array([1, 1, 1, 2, 2, 2])
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(X, Y)

GaussianNB()

In [79]:
print(clf.predict([[-0.8, -1]]))

[1]

# Learning LabelEncoding and One-hot Encoding

In [80]:
import numpy as np
import pandas as pd

In [136]:
XX = pd.read_csv('titanic_data.csv')

In [137]:
X = XX.select_dtypes(include=[object])

In [111]:
X.head()

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S

In [112]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [113]:
le = LabelEncoder()

In [116]:
List = ['Name','Sex','Ticket','Cabin','Embarked']
for i in List:
    print (X[i].head())

1     Cumings, Mrs. John Bradley (Florence Briggs Th...
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)
6                               McCarthy, Mr. Timothy J
10                      Sandstrom, Miss. Marguerite Rut
11                             Bonnell, Miss. Elizabeth
Name: Name, dtype: object
1     female
3     female
6       male
10    female
11    female
Name: Sex, dtype: object
1     PC 17599
3       113803
6        17463
10     PP 9549
11      113783
Name: Ticket, dtype: object
1      C85
3     C123
6      E46
10      G6
11    C103
Name: Cabin, dtype: object
1     C
3     S
6     S
10    S
11    S
Name: Embarked, dtype: object

In [156]:
X = X.dropna()

In [157]:
for i in X:
    #print(X[feat].head())
    X[i] = le.fit_transform(X[i])

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [158]:
X

     Name  Sex  Ticket  Cabin  Embarked
1      51    0     123     80         0
3      74    0      36     54         2
6     122    1      62    128         2
10    161    0     134    144         2
11     27    0      31     48         2
21     19    1      80    110         2
23    168    1      35     13         2
27     67    1      72     62         2
31    173    0     115     40         0
52     87    0     116    100         0
54    140    1      23     22         0
55    200    1      71     70         2
62     88    1      98     79         2
66    139    0     103    141         2
75    127    1      90    139         2
88     66    0      72     62         2
92     41    1     139    121         2
96     79    1     126     12         0
97     83    1     131     90         0
102   196    1      93     97         2
110   150    1       2     51         2
118    12    1     114     35         0
123   194    0      84    115         2
124   195    1      93     97         2
128   147    0      82    137         0
136   138    0      39    106         2
137    73    1      36     54         2
139    76    1     120     44         0
148   134    1      77    140         2
151   143    0      29     60         2
..    ...  ...     ...    ...       ...
748   120    1      28     99         2
751   129    1     100    117         2
759   156    0       0     39         2
763    39    0      26     46         2
765    97    0      53     91         2
772   116    0     135    135         2
776   189    1      99    142         1
779   152    0      79     21         2
781    55    0      66     19         2
782   113    1      20    111         2
789    84    1     120     43         0
796   108    0      64     93         2
802    36    1      26     46         2
806     6    1       9     11         2
809    43    0      37    136         2
815    72    1      11     16         2
820    94    0      49     36         2
823   130    0     100    117         2
835    48    0     128    129         0
839   119    1      46     67         0
849    78    0      61     85         0
853   112    0     119     98         2
857    52    1      18    118         2
862   180    0      65     93         2
867   153    1     118      6         2
871    18    0      38    101         2
872    35    1     102     33         2
879   151    0      43     69         0
887    80    0      10     29         2
889    20    1       8     59         0

[202 rows x 5 columns]

In [119]:
ohe = OneHotEncoder()

In [155]:
X

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S
5,"Moran, Mr. James",male,330877,NaN,Q
6,"McCarthy, Mr. Timothy J",male,17463,E46,S
7,"Palsson, Master. Gosta Leonard",male,349909,NaN,S
8,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,347742,NaN,S
9,"Nasser, Mrs. Nicholas (Adele Achem)",female,237736,NaN,C
10,"Sandstrom, Miss. Marguerite Rut",female,PP 9549,G6,S
11,"Bonnell, Miss. Elizabeth",female,113783,C103,S
12,"Saundercock, Mr. William Henry",male,A/5. 2151,NaN,S
13,"Andersson, Mr. Anders Johan",male,347082,NaN,S
14,"Vestrom, Miss. Hulda Amanda Adolfina",female,350406,NaN,S
15,"Hewlett, Mrs. (Mary D Kingcome)",female,248706,NaN,S
16,"Rice, Master. Eugene",male,382652,NaN,Q
17,"Williams, Mr. Charles Eugene",male,244373,NaN,S
18,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,345763,NaN,S
19,"Masselmani, Mrs. Fatima",female,2649,NaN,C
20,"Fynney, Mr. Joseph J",male,239865,NaN,S
21,"Beesley, Mr. Lawrence",male,248698,D56,S
22,"McGowan, Miss. Anna ""Annie""",female,330923,NaN,Q
23,"Sloper, Mr. William Thompson",male,113788,A6,S
24,"Palsson, Miss. Torborg Danira",female,349909,NaN,S
25,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,347077,NaN,S
26,"Emir, Mr. Farred Chehab",male,2631,NaN,C
27,"Fortune, Mr. Charles Alexander",male,19950,C23 C25 C27,S
28,"O'Dwyer, Miss. Ellen ""Nellie""",female,330959,NaN,Q
29,"Todoroff, Mr. Lalio",male,349216,NaN,S
...,...,...,...,...,...
861,"Giles, Mr. Frederick Edward",male,28134,NaN,S
862,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,17466,D17,S
863,"Sage, Miss. Dorothy Edith ""Dolly""",female,CA. 2343,NaN,S
864,"Gill, Mr. John William",male,233866,NaN,S
865,"Bystrom, Mrs. (Karolina)",female,236852,NaN,S
866,"Duran y More, Miss. Asuncion",female,SC/PARIS 2149,NaN,C
867,"Roebling, Mr. Washington Augustus II",male,PC 17590,A24,S
868,"van Melkebeke, Mr. Philemon",male,345777,NaN,S
869,"Johnson, Master. Harold Theodor",male,347742,NaN,S
870,"Balkic, Mr. Cerin",male,349248,NaN,S
871,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,11751,D35,S
872,"Carlsson, Mr. Frans Olof",male,695,B51 B53 B55,S
873,"Vander Cruyssen, Mr. Victor",male,345765,NaN,S
874,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,P/PP 3381,NaN,C
875,"Najib, Miss. Adele Kiamie ""Jane""",female,2667,NaN,C
876,"Gustafsson, Mr. Alfred Ossian",male,7534,NaN,S
877,"Petroff, Mr. Nedelio",male,349212,NaN,S
878,"Laleff, Mr. Kristo",male,349217,NaN,S
879,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,11767,C50,C
880,"Shelley, Mrs. William (Imanita Parrish Hall)",female,230433,NaN,S
881,"Markun, Mr. Johann",male,349257,NaN,S
882,"Dahlberg, Miss. Gerda Ulrika",female,7552,NaN,S
883,"Banfield, Mr. Frederick James",male,C.A./SOTON 34068,NaN,S
884,"Sutehall, Mr. Henry Jr",male,SOTON/OQ 392076,NaN,S
885,"Rice, Mrs. William (Margaret Norton)",female,382652,NaN,Q
886,"Montvila, Rev. Juozas",male,211536,NaN,S
887,"Graham, Miss. Margaret Edith",female,112053,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S
889,"Behr, Mr. Karl Howell",male,111369,C148,C
890,"Dooley, Mr. Patrick",male,370376,NaN,Q

In [159]:
ohe.fit(X)

OneHotEncoder(categorical_features='all', dtype=<class 'float'>,
       handle_unknown='error', n_values='auto', sparse=True)

In [123]:
onehotlabels = ohe.transform(X).toarray()

In [124]:
onehotlabels.shape

(202, 494)

In [125]:
onehotlabels

array([[ 0.,  0.,  0., ...,  1.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  1.],
       [ 0.,  0.,  0., ...,  0.,  0.,  1.],
       ...,
       [ 0.,  0.,  0., ...,  1.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  1.],
       [ 0.,  0.,  0., ...,  1.,  0.,  0.]])

In [126]:
type(onehotlabels)

numpy.ndarray

In [150]:
X2 = XX
#X2 = X2.select_dtypes(include=[object])

In [152]:
X2 = X2.dropna()

In [161]:
X3 = ohe.fit_transform(X)

In [162]:
X3

<202x494 sparse matrix of type '<class 'numpy.float64'>'
	with 1010 stored elements in Compressed Sparse Row format>

# Enron dataset

In [167]:
import pickle
import os
os.getcwd()

'C:\\Users\\tparmar\\Python\\Udacity'

## Helpful reference: http://napitupulu-jon.appspot.com/posts/datasets-questions.html

In [174]:
enron_data = pickle.load(open("./enron/ud120-projects-master/final_project/final_project_dataset.pkl", "rb"))

In [176]:
enron_data.values()

dict_values([{'email_address': 'NaN', 'total_stock_value': 1030329, 'from_this_person_to_poi': 'NaN', 'long_term_incentive': 'NaN', 'poi': False, 'bonus': 'NaN', 'deferral_payments': 53625, 'exercised_stock_options': 1030329, 'expenses': 33785, 'salary': 'NaN', 'restricted_stock_deferred': 'NaN', 'other': 'NaN', 'loan_advances': 'NaN', 'total_payments': 87410, 'from_poi_to_this_person': 'NaN', 'deferred_income': 'NaN', 'restricted_stock': 'NaN', 'from_messages': 'NaN', 'director_fees': 'NaN', 'shared_receipt_with_poi': 'NaN', 'to_messages': 'NaN'}, {'email_address': 'wes.colwell@enron.com', 'total_stock_value': 698242, 'from_this_person_to_poi': 11, 'long_term_incentive': 'NaN', 'poi': True, 'bonus': 1200000, 'deferral_payments': 27610, 'exercised_stock_options': 'NaN', 'expenses': 16514, 'salary': 288542, 'restricted_stock_deferred': 'NaN', 'other': 101740, 'loan_advances': 'NaN', 'total_payments': 1490344, 'from_poi_to_this_person': 240, 'deferred_income': -144062, 'restricted_stock': 698242, 'from_messages': 40, 'director_fees': 'NaN', 'shared_receipt_with_poi': 1132, 'to_messages': 1758}, {'email_address': 'NaN', 'total_stock_value': 368705, 'from_this_person_to_poi': 'NaN', 'long_term_incentive': 'NaN', 'poi': False, 'bonus': 'NaN', 'deferral_payments': 774401, 'exercised_stock_options': 'NaN', 'expenses': 'NaN', 'salary': 'NaN', 'restricted_stock_deferred': -94556, 'other': 'NaN', 'loan_advances': 'NaN', 'total_payments': 774401, 'from_poi_to_this_person': 'NaN', 'deferred_income': 'NaN', 'restricted_stock': 463261, 'from_messages': 'NaN', 'director_fees': 'NaN', 'shared_receipt_with_poi': 'NaN', 'to_messages': 'NaN'}, {'email_address': 'bob.butts@enron.com', 'total_stock_value': 417619, 'from_this_person_to_poi': 'NaN', 'long_term_incentive': 175000, 'poi': False, 'bonus': 750000, 'deferral_payments': 'NaN', 'exercised_stock_options': 'NaN', 'expenses': 9410, 'salary': 261516, 'restricted_stock_deferred': 'NaN', 'other': 150656, 'loan_advances': 'NaN', 'total_payments': 1271582, 'from_poi_to_this_person': 'NaN', 'deferred_income': -75000, 'restricted_stock': 417619, 'from_messages': 'NaN', 'director_fees': 'NaN', 'shared_receipt_with_poi': 'NaN', 'to_messages': 'NaN'}, {'email_address': 'NaN', 'total_stock_value': 434509511, 'from_this_person_to_poi': 'NaN', 'long_term_incentive': 48521928, 'poi': False, 'bonus': 97343619, 'deferral_payments': 32083396, 'exercised_stock_options': 311764000, 'expenses': 5235198, 'salary': 26704229, 'restricted_stock_deferred': -7576788, 'other': 42667589, 'loan_advances': 83925000, 'total_payments': 309886585, 'from_poi_to_this_person': 'NaN', 'deferred_income': -27992891, 'restricted_stock': 130322299, 'from_messages': 'NaN', 'director_fees': 1398517, 'shared_receipt_with_poi': 'NaN', 'to_messages': 'NaN'}, {'email_address': 'jeremy.blachman@enron.com', 'total_stock_value': 954354, 'from_this_person_to_poi': 2, 'long_term_incentive': 831809, 'poi': False, 'bonus': 850000, 'deferral_payments': 'NaN', 'exercised_stock_options': 765313, 'expenses': 84208, 'salary': 248546, 'restricted_stock_deferred': 'NaN', 'other': 272, 'loan_advances': 'NaN', 'total_payments': 2014835, 'from_poi_to_this_person': 25, 'deferred_income': 'NaN', 'restricted_stock': 189041, 'from_messages': 14, 'director_fees': 'NaN', 'shared_receipt_with_poi': 2326, 'to_messages': 2475}, {'email_address': 'steven.elliott@enron.com', 'total_stock_value': 6678735, 'from_this_person_to_poi': 'NaN', 'long_term_incentive': 'NaN', 'poi': False, 'bonus': 350000, 'deferral_payments': 'NaN', 'exercised_stock_options': 4890344, 'expenses': 78552, 'salary': 170941, 'restricted_stock_deferred': 'NaN', 'other': 12961, 'loan_advances': 'NaN', 'total_payments': 211725, 'from_poi_to_this_person': 'NaN', 'deferred_income': -400729, 'restricted_stock': 1788391, 'from_messages': 'NaN', 'director_fees': 'NaN', 'shared_receipt_with_poi': 'NaN', 'to_messages': 'NaN'}, {'email_address': 'danny.mccarty@enron.com', 'total_stock_value': 758931, 'from_this_person_to_poi': 2, 'long_term_incentive': 'NaN', 'poi': False, 'bonus': 'NaN', 'deferral_payments': 'NaN', 'exercised_stock_options': 664375, 'expenses': 'NaN', 'salary': 'NaN', 'restricted_stock_deferred': 'NaN', 'other': 'NaN', 'loan_advances': 'NaN', 'total_payments': 'NaN', 'from_poi_to_this_person': 25, 'deferred_income': 'NaN', 'restricted_stock': 94556, 'from_messages': 215, 'director_fees': 'NaN', 'shared_receipt_with_poi': 508, 'to_messages': 1433}, {'email_address': 'NaN', 'total_stock_value': 1362375, 'from_this_person_to_poi': 'NaN', 'long_term_incentive': 554422, 'poi': False, 'bonus': 100000, 'deferral_payments': 181993, 'exercised_stock_options': 1362375, 'expenses': 'NaN', 'salary': 162779, 'restricted_stock_deferred': 'NaN', 'other': 162, 'loan_advances': 'NaN', 'total_payments': 999356, 'from_poi_to_this_person': 'NaN', 'deferred_income': 'NaN', 'restricted_stock': 'NaN', 'from_messages': 'NaN', 'director_fees': 'NaN', 'shared_receipt_with_poi': 'NaN', 'to_messages': 'NaN'}, {'email_address': 'greg.piper@enron.com', 'total_stock_value': 880290, 'from_this_person_to_poi': 48, 'long_term_incentive': 'NaN', 'poi': False, 'bonus': 400000, 'deferral_payments': 1130036, 'exercised_stock_options': 880290, 'expenses': 43057, 'salary': 197091, 'restricted_stock_deferred': -409554, 'other': 778, 'loan_advances': 'NaN', 'total_payments': 1737629, 'from_poi_to_this_person': 61, 'deferred_income': -33333, 'restricted_stock': 409554, 'from_messages': 222, 'director_fees': 'NaN', 'shared_receipt_with_poi': 742, 'to_messages': 1238}, {'email_address': 'mark.koenig@enron.com', 'total_stock_value': 1920055, 'from_this_person_to_poi': 15, 'long_term_incentive': 300000, 'poi': True, 'bonus': 700000, 'deferral_payments': 'NaN', 'exercised_stock_options': 671737, 'expenses': 127017, 'salary': 309946, 'restricted_stock_deferred': 'NaN', 'other': 150458, 'loan_advances': 'NaN', 'total_payments': 1587421, 'from_poi_to_this_person': 53, 'deferred_income': 'NaN', 'restricted_stock': 1248318, 'from_messages': 61, 'director_fees': 'NaN', 'shared_receipt_with_poi': 2271, 'to_messages': 2374}, {'email_address': 'rob.walls@enron.com', 'total_stock_value': 5898997, 'from_this_person_to_poi': 0, 'long_term_incentive': 540751, 'poi': False, 'bonus': 850000, 'deferral_payments': 'NaN', 'exercised_stock_options': 4346544, 'expenses': 50936, 'salary': 357091, 'restricted_stock_deferred': 'NaN', 'other': 2, 'loan_advances': 'NaN', 'total_payments': 1798780, 'from_poi_to_this_person': 17, 'deferred_income': 'NaN', 'restricted_stock': 1552453, 'from_messages': 146, 'director_fees': 'NaN', 'shared_receipt_with_poi': 215, 'to_messages': 671}, {'email_address': 'robert.hermann@enron.com', 'total_stock_value': 668132, 'from_this_person_to_poi': 'NaN', 'long_term_incentive': 150000, 'poi': False, 'bonus': 700000, 'deferral_payments': 'NaN', 'exercised_stock_options': 187500, 'expenses': 48357, 'salary': 262663, 'restricted_stock_deferred': 'NaN', 'other': 416441, 'loan_advances': 'NaN', 'total_payments': 1297461, 'from_poi_to_this_person': 'NaN', 'deferred_income': -280000, 'restricted_stock': 480632, 'from_messages': 'NaN', 'director_fees': 'NaN', 'shared_receipt_with_poi': 'NaN', 'to_messages': 'NaN'}, {'email_address': 'kulvinder.fowler@enron.com', 'total_stock_value': 1884748, 'from_this_person_to_poi': 0, 'long_term_incentive': 'NaN', 'poi': False, 'bonus': 'NaN', 'deferral_payments': 'NaN', 'exercised_stock_options': 1324578, 'expenses': 'NaN', 'salary': 'NaN', 'restricted_stock_deferred': 'NaN', 'other': 'NaN', 'loan_advances': 'NaN', 'total_payments': 'NaN', 'from_poi_to_this_person': 0, 'deferred_income': 'NaN', 'restricted_stock': 560170, 'from_messages': 36, 'director_fees': 'NaN', 'shared_receipt_with_poi': 10, 'to_messages': 517}, {'email_address': 'a..martin@enron.com', 'total_stock_value': 2070306, 'from_this_person_to_poi': 0, 'long_term_incentive': 5145434, 'poi': False, 'bonus': 'NaN', 'deferral_payments': 85430, 'exercised_stock_options': 2070306, 'expenses': 8211, 'salary': 349487, 'restricted_stock_deferred': 'NaN', 'other': 2818454, 'loan_advances': 'NaN', 'total_payments': 8407016, 'from_poi_to_this_person': 8, 'deferred_income': 'NaN', 'restricted_stock': 'NaN', 'from_messages': 230, 'director_fees': 'NaN', 'shared_receipt_with_poi': 477, 'to_messages': 1522}, {'email_address': 'thomas.white@enron.com', 'total_stock_value': 15144123, 'from_this_person_to_poi': 'NaN', 'long_term_incentive': 'NaN', 'poi': False, 'bonus': 450000, 'deferral_payments': 'NaN', 'exercised_stock_options': 1297049, 'expenses': 81353, 'salary': 317543, 'restricted_stock_deferred': 'NaN', 'other': 1085463, 'loan_advances': 'NaN', 'total_payments': 1934359, 'from_poi_to_this_person': 'NaN', 'deferred_income': 'NaN', 'restricted_stock': 13847074, 'from_messages': 'NaN', 'director_fees': 'NaN', 'shared_receipt_with_poi': 'NaN', 'to_messages': 'NaN'}, {'email_address': 'NaN', 'total_stock_value': 'NaN', 'from_this_person_to_poi': 'NaN', 'long_term_incentive': 365625, 'poi': False, 'bonus': 'NaN', 'deferral_payments': 93585, 'exercised_stock_options': 'NaN', 'expenses': 'NaN', 'salary': 6615, 'restricted_stock_deferred': 'NaN', 'other': 680833, 'loan_advances': 'NaN', 'total_payments': 1146658, 'from_poi_to_this_person': 'NaN', 'deferred_income': 'NaN', 'restricted_stock': 'NaN', 'from_messages': 'NaN', 'director_fees': 'NaN', 'shared_receipt_with_poi': 'NaN', 'to_messages': 'NaN'}, {'email_address': 'scott.yeager@enron.com', 'total_stock_value': 11884758, 'from_this_person_to_poi': 'NaN', 'long_term_incentive': 'NaN', 'poi': True, 'bonus': 'NaN', 'deferral_payments': 'NaN', 'exercised_stock_options': 8308552, 'expenses': 53947, 'salary': 158403, 'restricted_stock_deferred': 'NaN', 'other': 147950, 'loan_advances': 'NaN', 'total_payments': 360300, 'from_poi_to_this_person': 'NaN', 'deferred_income': 'NaN', 'restricted_stock': 3576206, 'from_messages': 'NaN', 'director_fees': 'NaN', 'shared_receipt_with_poi': 'NaN', 'to_messages': 'NaN'}, {'email_address': 'NaN', 'total_stock_value': 'NaN', 'from_this_person_to_poi': 'NaN', 'long_term_incentive': 'NaN', 'poi': False, 'bonus': 'NaN', 'deferral_payments': 'NaN', 'exercised_stock_options': 'NaN', 'expenses': 103773, 'salary': 'NaN', 'restricted_stock_deferred': 'NaN', 'other': 'NaN', 'loan_advances': 'NaN', 'total_payments': 213071, 'from_poi_to_this_person': 'NaN', 'deferred_income': 'NaN', 'restricted_stock': 'NaN', 'from_messages': 'NaN', 'director_fees': 109298, 'shared_receipt_with_poi': 'NaN', 'to_messages': 'NaN'}, {'email_address': 'NaN', 'total_stock_value': 139130, 'from_this_person_to_poi': 'NaN', 'long_term_incentive': 'NaN', 'poi': False, 'bonus': 'NaN', 'deferral_payments': 'NaN', 'exercised_stock_options': 139130, 'expenses': 'NaN', 'salary': 'NaN', 'restricted_stock_deferred': 'NaN', 'other': 'NaN', 'loan_advances': 'NaN', 'total_payments': 'NaN', 'from_poi_to_this_person': 'NaN', 'deferred_income': 'NaN', 'restricted_stock': 'NaN', 'from_messages': 'NaN', 'director_fees': 'NaN', 'shared_receipt_with_poi': 'NaN', 'to_messages': 'NaN'}, {'email_address': 'john.sherriff@enron.com', 'total_stock_value': 3128982, 'from_this_person_to_poi': 23, 'long_term_incentive': 554422, 'poi': False, 'bonus': 1500000, 'deferral_payments': 'NaN', 'exercised_stock_options': 1835558, 'expenses': 'NaN', 'salary': 428780, 'restricted_stock_deferred': 'NaN', 'other': 1852186, 'loan_advances': 'NaN', 'total_payments': 4335388, 'from_poi_to_this_person': 28, 'deferred_income': 'NaN', 'restricted_stock': 1293424, 'from_messages': 92, 'director_fees': 'NaN', 'shared_receipt_with_poi': 2103, 'to_messages': 3187}, {'email_address': 'NaN', 'total_stock_value': 'NaN', 'from_this_person_to_poi': 'NaN', 'long_term_incentive': 'NaN', 'poi': False, 'bonus': 'NaN', 'deferral_payments': 'NaN', 'exercised_stock_options': 'NaN', 'expenses': 'NaN', 'salary': 'NaN', 'restricted_stock_deferred': 'NaN', 'other': 362096, 'loan_advances': 'NaN', 'total_payments': 362096, 'from_poi_to_this_person': 'NaN', 'deferred_income': 'NaN', 'restricted_stock': 'NaN', 'from_messages': 'NaN', 'director_fees': 'NaN', 'shared_receipt_with_poi': 'NaN', 'to_messages': 'NaN'}, {'email_address': 'w.duran@enron.com', 'total_stock_value': 1640910, 'from_this_person_to_poi': 3, 'long_term_incentive': 1105218, 'poi': False, 'bonus': 750000, 'deferral_payments': 'NaN', 'exercised_stock_options': 1451869, 'expenses': 25785, 'salary': 210692, 'restricted_stock_deferred': 'NaN', 'other': 1568, 'loan_advances': 'NaN', 'total_payments': 2093263, 'from_poi_to_this_person': 106, 'deferred_income': 'NaN', 'restricted_stock': 189041, 'from_messages': 12, 'director_fees': 'NaN', 'shared_receipt_with_poi': 599, 'to_messages': 904}, {'email_address': 'NaN', 'total_stock_value': 'NaN', 'from_this_person_to_poi': 'NaN', 'long_term_incentive': 'NaN', 'poi': False, 'bonus': 'NaN', 'deferral_payments': 'NaN', 'exercised_stock_options': 'NaN', 'expenses': 'NaN', 'salary': 'NaN', 'restricted_stock_deferred': -32460, 'other': 'NaN', 'loan_advances': 'NaN', 'total_payments': 'NaN', 'from_poi_to_this_person': 'NaN', 'deferred_income': -98784, 'restricted_stock': 32460, 'from_messages': 'NaN', 'director_fees': 98784, 'shared_receipt_with_poi': 'NaN', 'to_messages': 'NaN'}, {'email_address': 'rod.hayslett@enron.com', 'total_stock_value': 346663, 'from_this_person_to_poi': 38, 'long_term_incentive': 'NaN', 'poi': False, 'bonus': 'NaN', 'deferral_payments': 'NaN', 'exercised_stock_options': 'NaN', 'expenses': 'NaN', 'salary': 'NaN', 'restricted_stock_deferred': 'NaN', 'other': 'NaN', 'loan_advances': 'NaN', 'total_payments': 'NaN', 'from_poi_to_this_person': 35, 'deferred_income': 'NaN', 'restricted_stock': 346663, 'from_messages': 1061, 'director_fees': 'NaN', 'shared_receipt_with_poi': 571, 'to_messages': 2649}, {'email_address': 'tim.belden@enron.com', 'total_stock_value': 1110705, 'from_this_person_to_poi': 108, 'long_term_incentive': 'NaN', 'poi': True, 'bonus': 5249999, 'deferral_payments': 2144013, 'exercised_stock_options': 953136, 'expenses': 17355, 'salary': 213999, 'restricted_stock_deferred': 'NaN', 'other': 210698, 'loan_advances': 'NaN', 'total_payments': 5501630, 'from_poi_to_this_person': 228, 'deferred_income': -2334434, 'restricted_stock': 157569, 'from_messages': 484, 'director_fees': 'NaN', 'shared_receipt_with_poi': 5521, 'to_messages': 7991}, {'email_address': 'kevin.garland@enron.com', 'total_stock_value': 896153, 'from_this_person_to_poi': 27, 'long_term_incentive': 375304, 'poi': False, 'bonus': 850000, 'deferral_payments': 'NaN', 'exercised_stock_options': 636246, 'expenses': 48405, 'salary': 231946, 'restricted_stock_deferred': 'NaN', 'other': 60814, 'loan_advances': 'NaN', 'total_payments': 1566469, 'from_poi_to_this_person': 10, 'deferred_income': 'NaN', 'restricted_stock': 259907, 'from_messages': 44, 'director_fees': 'NaN', 'shared_receipt_with_poi': 178, 'to_messages': 209}, {'email_address': 's..muller@enron.com', 'total_stock_value': 1416848, 'from_this_person_to_poi': 0, 'long_term_incentive': 1725545, 'poi': False, 'bonus': 1100000, 'deferral_payments': 842924, 'exercised_stock_options': 1056320, 'expenses': 'NaN', 'salary': 251654, 'restricted_stock_deferred': 'NaN', 'other': 947, 'loan_advances': 'NaN', 'total_payments': 3202070, 'from_poi_to_this_person': 12, 'deferred_income': -719000, 'restricted_stock': 360528, 'from_messages': 16, 'director_fees': 'NaN', 'shared_receipt_with_poi': 114, 'to_messages': 136}, {'email_address': 'joe.hirko@enron.com', 'total_stock_value': 30766064, 'from_this_person_to_poi': 'NaN', 'long_term_incentive': 'NaN', 'poi': True, 'bonus': 'NaN', 'deferral_payments': 10259, 'exercised_stock_options': 30766064, 'expenses': 77978, 'salary': 'NaN', 'restricted_stock_deferred': 'NaN', 'other': 2856, 'loan_advances': 'NaN', 'total_payments': 91093, 'from_poi_to_this_person': 'NaN', 'deferred_income': 'NaN', 'restricted_stock': 'NaN', 'from_messages': 'NaN', 'director_fees': 'NaN', 'shared_receipt_with_poi': 'NaN', 'to_messages': 'NaN'}, {'email_address': 'vicki.sharp@enron.com', 'total_stock_value': 494136, 'from_this_person_to_poi': 6, 'long_term_incentive': 422158, 'poi': False, 'bonus': 600000, 'deferral_payments': 187469, 'exercised_stock_options': 281073, 'expenses': 116337, 'salary': 248146, 'restricted_stock_deferred': 'NaN', 'other': 2401, 'loan_advances': 'NaN', 'total_payments': 1576511, 'from_poi_to_this_person': 24, 'deferred_income': 'NaN', 'restricted_stock': 213063, 'from_messages': 136, 'director_fees': 'NaN', 'shared_receipt_with_poi': 2477, 'to_messages': 3136}, {'email_address': 'julia.murray@enron.com', 'total_stock_value': 597461, 'from_this_person_to_poi': 2, 'long_term_incentive': 125000, 'poi': False, 'bonus': 400000, 'deferral_payments': 'NaN', 'exercised_stock_options': 400478, 'expenses': 57580, 'salary': 229284, 'restricted_stock_deferred': 'NaN', 'other': 330, 'loan_advances': 'NaN', 'total_payments': 812194, 'from_poi_to_this_person': 11, 'deferred_income': 'NaN', 'restricted_stock': 196983, 'from_messages': 45, 'director_fees': 'NaN', 'shared_receipt_with_poi': 395, 'to_messages': 2192}, {'email_address': 'NaN', 'total_stock_value': 372205, 'from_this_person_to_poi': 'NaN', 'long_term_incentive': 'NaN', 'poi': False, 'bonus': 'NaN', 'deferral_payments': 'NaN', 'exercised_stock_options': 372205, 'expenses': 'NaN', 'salary': 'NaN', 'restricted_stock_deferred': -153686, 'other': 'NaN', 'loan_advances': 'NaN', 'total_payments': 'NaN', 'from_poi_to_this_person': 'NaN', 'deferred_income': 'NaN', 'restricted_stock': 153686, 'from_messages': 'NaN', 'director_fees': 'NaN', 'shared_receipt_with_poi': 'NaN', 'to_messages': 'NaN'}, {'email_address': 'NaN', 'total_stock_value': 192758, 'from_this_person_to_poi': 'NaN', 'long_term_incentive': 'NaN', 'poi': False, 'bonus': 'NaN', 'deferral_payments': 'NaN', 'exercised_stock_options': 192758, 'expenses': 55097, 'salary': 'NaN', 'restricted_stock_deferred': 'NaN', 'other': 'NaN', 'loan_advances': 'NaN', 'total_payments': 55097, 'from_poi_to_this_person': 'NaN', 'deferred_income': 'NaN', 'restricted_stock': 'NaN', 'from_messages': 'NaN', 'director_fees': 'NaN', 'shared_receipt_with_poi': 'NaN', 'to_messages': 'NaN'}, {'email_address': 'NaN', 'total_stock_value': -44093, 'from_this_person_to_poi': 'NaN', 'long_term_incentive': 'NaN', 'poi': False, 'bonus': 'NaN', 'deferral_payments': -102500, 'exercised_stock_options': 3285, 'expenses': 'NaN', 'salary': 'NaN', 'restricted_stock_deferred': 44093, 'other': 'NaN', 'loan_advances': 'NaN', 'total_payments': 102500, 'from_poi_to_this_person': 'NaN', 'deferred_income': 'NaN', 'restricted_stock': 'NaN', 'from_messages': 'NaN', 'director_fees': 3285, 'shared_receipt_with_poi': 'NaN', 'to_messages': 'NaN'}, {'email_address': 'robert.hayes@enron.com', 'total_stock_value': 151418, 'from_this_person_to_poi': 0, 'long_term_incentive': 'NaN', 'poi': False, 'bonus': 'NaN', 'deferral_payments': 7961, 'exercised_stock_options': 'NaN', 'expenses': 'NaN', 'salary': 'NaN', 'restricted_stock_deferred': 'NaN', 'other': 'NaN', 'loan_advances': 'NaN', 'total_payments': 7961, 'from_poi_to_this_person': 16, 'deferred_income': 'NaN', 'restricted_stock': 151418, 'from_messages': 12, 'director_fees': 'NaN', 'shared_receipt_with_poi': 50, 'to_messages': 504}, {'email_address': 'bill.cordes@enron.com', 'total_stock_value': 1038185, 'from_this_person_to_poi': 0, 'long_term_incentive': 'NaN', 'poi': False, 'bonus': 'NaN', 'deferral_payments': 'NaN', 'exercised_stock_options': 651850, 'expenses': 'NaN', 'salary': 'NaN', 'restricted_stock_deferred': 'NaN', 'other': 'NaN', 'loan_advances': 'NaN', 'total_payments': 'NaN', 'from_poi_to_this_person': 10, 'deferred_income': 'NaN', 'restricted_stock': 386335, 'from_messages': 12, 'director_fees': 'NaN', 'shared_receipt_with_poi': 58, 'to_messages': 764}, {'email_address': 'NaN', 'total_stock_value': 257817, 'from_this_person_to_poi': 'NaN', 'long_term_incentive': 'NaN', 'p

In [177]:
#Number of items in the dictionary
len(enron_data)

146

In [182]:
# Number of features in the dict

unique_features = set(
    feature
    for row_dict in enron_data.values()
    for feature in row_dict.keys()
)
print(unique_features)
# {'golf', 'delta', 'foxtrot', 'alpha', 'bravo', 'echo', 'tango', 'kilo'}
print(len(unique_features))
# 8

{'total_stock_value', 'from_this_person_to_poi', 'expenses', 'poi', 'bonus', 'deferral_payments', 'exercised_stock_options', 'salary', 'deferred_income', 'restricted_stock', 'restricted_stock_deferred', 'other', 'loan_advances', 'total_payments', 'from_poi_to_this_person', 'long_term_incentive', 'to_messages', 'from_messages', 'director_fees', 'shared_receipt_with_poi', 'email_address'}
21

In [199]:
# Listing out individual elements from the dictionary
list(enron_data.values())[1]

{'bonus': 1200000,
 'deferral_payments': 27610,
 'deferred_income': -144062,
 'director_fees': 'NaN',
 'email_address': 'wes.colwell@enron.com',
 'exercised_stock_options': 'NaN',
 'expenses': 16514,
 'from_messages': 40,
 'from_poi_to_this_person': 240,
 'from_this_person_to_poi': 11,
 'loan_advances': 'NaN',
 'long_term_incentive': 'NaN',
 'other': 101740,
 'poi': True,
 'restricted_stock': 698242,
 'restricted_stock_deferred': 'NaN',
 'salary': 288542,
 'shared_receipt_with_poi': 1132,
 'to_messages': 1758,
 'total_payments': 1490344,
 'total_stock_value': 698242}

In [203]:
# Read poi names
poi_names = pd.read_csv("./enron/ud120-projects-master/final_project/poi_names.txt")

In [204]:
poi_names.head()

             http://usatoday30.usatoday.com/money/industries/energy/2005-12-28-enron-participants_x.htm
(y) Lay                                                 Kenneth
(y) Skilling                                            Jeffrey
(n) Howard                                                Kevin
(n) Krautz                                              Michael
(n) Yeager                                                Scott

In [218]:
keys = enron_data.keys()

In [241]:
type(enron_data)

dict

In [244]:
enron_data['SKILLING JEFFREY K']['poi']

True

In [249]:
# How many POIs in the dataset?
count = 0
for user in enron_data:
    if enron_data[user]['poi'] == True:
        count+=1
print (count)

18

In [254]:
# %load ./enron/ud120-projects-master/final_project/poi_email_addresses.py
def poiEmails():
    email_list = ["kenneth_lay@enron.net",    
            "kenneth_lay@enron.com",
            "klay.enron@enron.com",
            "kenneth.lay@enron.com", 
            "klay@enron.com",
            "layk@enron.com",
            "chairman.ken@enron.com",
            "jeffreyskilling@yahoo.com",
            "jeff_skilling@enron.com",
            "jskilling@enron.com",
            "effrey.skilling@enron.com",
            "skilling@enron.com",
            "jeffrey.k.skilling@enron.com",
            "jeff.skilling@enron.com",
            "kevin_a_howard.enronxgate.enron@enron.net",
            "kevin.howard@enron.com",
            "kevin.howard@enron.net",
            "kevin.howard@gcm.com",
            "michael.krautz@enron.com"
            "scott.yeager@enron.com",
            "syeager@fyi-net.com",
            "scott_yeager@enron.net",
            "syeager@flash.net",
            "joe'.'hirko@enron.com", 
            "joe.hirko@enron.com", 
            "rex.shelby@enron.com", 
            "rex.shelby@enron.nt", 
            "rex_shelby@enron.net",
            "jbrown@enron.com",
            "james.brown@enron.com", 
            "rick.causey@enron.com", 
            "richard.causey@enron.com", 
            "rcausey@enron.com",
            "calger@enron.com",
            "chris.calger@enron.com", 
            "christopher.calger@enron.com", 
            "ccalger@enron.com",
            "tim_despain.enronxgate.enron@enron.net", 
            "tim.despain@enron.com",
            "kevin_hannon@enron.com", 
            "kevin'.'hannon@enron.com", 
            "kevin_hannon@enron.net", 
            "kevin.hannon@enron.com",
            "mkoenig@enron.com", 
            "mark.koenig@enron.com",
            "m..forney@enron.com",
            "ken'.'rice@enron.com", 
            "ken.rice@enron.com",
            "ken_rice@enron.com", 
            "ken_rice@enron.net",
            "paula.rieker@enron.com",
            "prieker@enron.com", 
            "andrew.fastow@enron.com", 
            "lfastow@pdq.net", 
            "andrew.s.fastow@enron.com", 
            "lfastow@pop.pdq.net", 
            "andy.fastow@enron.com",
            "david.w.delainey@enron.com", 
            "delainey.dave@enron.com", 
            "'delainey@enron.com", 
            "david.delainey@enron.com", 
            "'david.delainey'@enron.com", 
            "dave.delainey@enron.com", 
            "delainey'.'david@enron.com",
            "ben.glisan@enron.com", 
            "bglisan@enron.com", 
            "ben_f_glisan@enron.com", 
            "ben'.'glisan@enron.com",
            "jeff.richter@enron.com", 
            "jrichter@nwlink.com",
            "lawrencelawyer@aol.com", 
            "lawyer'.'larry@enron.com", 
            "larry_lawyer@enron.com", 
            "llawyer@enron.com", 
            "larry.lawyer@enron.com", 
            "lawrence.lawyer@enron.com",
            "tbelden@enron.com", 
            "tim.belden@enron.com", 
            "tim_belden@pgn.com", 
            "tbelden@ect.enron.com",
            "michael.kopper@enron.com",
            "dave.duncan@enron.com", 
            "dave.duncan@cipco.org", 
            "duncan.dave@enron.com",
            "ray.bowen@enron.com", 
            "raymond.bowen@enron.com", 
            "'bowen@enron.com",
            "wes.colwell@enron.com",
            "dan.boyle@enron.com",
            "cloehr@enron.com", 
            "chris.loehr@enron.com"
        ]
    return email_list

In [256]:
len(poiEmails())

90

In [ ]:
# %load ./enron/ud120-projects-master/final_project/poi_names.txt
http://usatoday30.usatoday.com/money/industries/energy/2005-12-28-enron-participants_x.htm

(y) Lay, Kenneth
(y) Skilling, Jeffrey
(n) Howard, Kevin
(n) Krautz, Michael
(n) Yeager, Scott
(n) Hirko, Joseph
(n) Shelby, Rex
(n) Bermingham, David
(n) Darby, Giles
(n) Mulgrew, Gary
(n) Bayley, Daniel
(n) Brown, James
(n) Furst, Robert
(n) Fuhs, William
(n) Causey, Richard
(n) Calger, Christopher
(n) DeSpain, Timothy
(n) Hannon, Kevin
(n) Koenig, Mark
(y) Forney, John
(n) Rice, Kenneth
(n) Rieker, Paula
(n) Fastow, Lea
(n) Fastow, Andrew
(y) Delainey, David
(n) Glisan, Ben
(n) Richter, Jeffrey
(n) Lawyer, Larry
(n) Belden, Timothy
(n) Kopper, Michael
(n) Duncan, David
(n) Bowen, Raymond
(n) Colwell, Wesley
(n) Boyle, Dan
(n) Loehr, Christopher

In [253]:
len(poi_names)

35

In [263]:
list(enron_data.keys())

['WALTERS GARETH W',
 'COLWELL WESLEY',
 'NOLES JAMES L',
 'BUTTS ROBERT H',
 'TOTAL',
 'BLACHMAN JEREMY M',
 'ELLIOTT STEVEN',
 'MCCARTY DANNY J',
 'SULLIVAN-SHAKLOVITZ COLLEEN',
 'PIPER GREGORY F',
 'KOENIG MARK E',
 'WALLS JR ROBERT H',
 'HERMANN ROBERT J',
 'FOWLER PEGGY',
 'MARTIN AMANDA K',
 'WHITE JR THOMAS E',
 'GRAY RODNEY',
 'YEAGER F SCOTT',
 'WAKEHAM JOHN',
 'WROBEL BRUCE',
 'SHERRIFF JOHN R',
 'THE TRAVEL AGENCY IN THE PARK',
 'DURAN WILLIAM D',
 'CHAN RONNIE',
 'HAYSLETT RODERICK J',
 'BELDEN TIMOTHY N',
 'GARLAND C KEVIN',
 'MULLER MARK S',
 'HIRKO JOSEPH',
 'SHARP VICTORIA T',
 'MURRAY JULIA H',
 'LOWRY CHARLES P',
 'YEAP SOON',
 'BELFER ROBERT',
 'HAYES ROBERT E',
 'CORDES WILLIAM R',
 'BADUM JAMES P',
 'BECK SALLY W',
 'JACKSON CHARLENE R',
 'CHRISTODOULOU DIOMEDES',
 'MCCLELLAN GEORGE',
 'KITCHEN LOUISE',
 'SHANKMAN JEFFREY A',
 'CLINE KENNETH W',
 'DELAINEY DAVID W',
 'RICE KENNETH D',
 'WASAFF GEORGE',
 'OLSON CINDY K',
 'GIBBS DANA R',
 'MORDAUNT KRISTINA M',
 'LAVORATO JOHN J',
 'DIETRICH JANET R',
 'TAYLOR MITCHELL S',
 'SHAPIRO RICHARD S',
 'BLAKE JR. NORMAN P',
 'SUNDE MARTIN',
 'FREVERT MARK A',
 'WODRASKA JOHN',
 'HUGHES JAMES A',
 'BROWN MICHAEL',
 'HUMPHREY GENE E',
 'DERRICK JR. JAMES V',
 'LEFF DANIEL P',
 'HORTON STANLEY C',
 'POWERS WILLIAM',
 'FITZGERALD JAY L',
 'DIMICHELE RICHARD G',
 'REYNOLDS LAWRENCE',
 'BAXTER JOHN C',
 'GOLD JOSEPH',
 'REDMOND BRIAN L',
 'KOPPER MICHAEL J',
 'METTS MARK',
 'OVERDYKE JR JERE C',
 'CUMBERLAND MICHAEL S',
 'GLISAN JR BEN F',
 'BERGSIEKER RICHARD P',
 'MCMAHON JEFFREY',
 'BOWEN JR RAYMOND M',
 'SHELBY REX',
 'BAY FRANKLIN R',
 'RIEKER PAULA H',
 'ALLEN PHILLIP K',
 'KEAN STEVEN J',
 'PRENTICE JAMES',
 'BUCHANAN HAROLD G',
 'SHERRICK JEFFREY B',
 'BERBERIAN DAVID',
 'DEFFNER JOSEPH M',
 'LEMAISTRE CHARLES',
 'CARTER REBECCA C',
 'KAMINSKI WINCENTY J',
 'LOCKHART EUGENE E',
 'LAY KENNETH L',
 'WINOKUR JR. HERBERT S',
 'FOY JOE',
 'FASTOW ANDREW S',
 'GRAMM WENDY L',
 'MCCONNELL MICHAEL S',
 'WHALLEY LAWRENCE G',
 'JAEDICKE ROBERT',
 'CAUSEY RICHARD A',
 'PAI LOU L',
 'BANNANTINE JAMES M',
 'DODSON KEITH',
 'FUGH JOHN L',
 'COX DAVID',
 'BUY RICHARD B',
 'MEYER JEROME J',
 'DUNCAN JOHN H',
 'BHATNAGAR SANJAY',
 'WHALEY DAVID A',
 'PICKERING MARK R',
 'SAVAGE FRANK',
 'LINDHOLM TOD A',
 'HANNON KEVIN P',
 'PEREIRA PAULO V. FERRAZ',
 'THORN TERENCE H',
 'URQUHART JOHN A',
 'WESTFAHL RICHARD K',
 'BIBI PHILIPPE A',
 'HICKERSON GARY J',
 'MCDONALD REBECCA',
 'KISHKILL JOSEPH G',
 'HAUG DAVID L',
 'ECHOLS JOHN B',
 'BAZELIDES PHILIP J',
 'CALGER CHRISTOPHER F',
 'GILLIS JOHN',
 'SKILLING JEFFREY K',
 'GAHN ROBERT S',
 'LEWIS RICHARD',
 'GATHMANN WILLIAM D',
 'IZZO LAWRENCE L',
 'MENDELSOHN JOHN',
 'MORAN MICHAEL P',
 'PIRO JIM',
 'FALLON JAMES B',
 'HAEDICKE MARK E',
 'DETMERING TIMOTHY J',
 'SCRIMSHAW MATTHEW',
 'TILNEY ELIZABETH A',
 'STABLER FRANK',
 'UMANOFF ADAM S',
 'DONAHUE JR JEFFREY M',
 'MEYER ROCKFORD G']

In [264]:
# total stock belonging to  James Prentice
enron_data['PRENTICE JAMES']['total_stock_value']

1095040

In [267]:
enron_data['PRENTICE JAMES']

{'bonus': 'NaN',
 'deferral_payments': 564348,
 'deferred_income': 'NaN',
 'director_fees': 'NaN',
 'email_address': 'james.prentice@enron.com',
 'exercised_stock_options': 886231,
 'expenses': 'NaN',
 'from_messages': 'NaN',
 'from_poi_to_this_person': 'NaN',
 'from_this_person_to_poi': 'NaN',
 'loan_advances': 'NaN',
 'long_term_incentive': 'NaN',
 'other': 'NaN',
 'poi': False,
 'restricted_stock': 208809,
 'restricted_stock_deferred': 'NaN',
 'salary': 'NaN',
 'shared_receipt_with_poi': 'NaN',
 'to_messages': 'NaN',
 'total_payments': 564348,
 'total_stock_value': 1095040}

In [268]:
#Find num of emails Wesley Colwell sent to poi
enron_data['COLWELL WESLEY']['from_this_person_to_poi']

11

In [270]:
# Stock options excercised by  Jeffrey K Skilling
enron_data['SKILLING JEFFREY K']['exercised_stock_options']

19250000

### Who took home the most money ?

In [272]:
enron_data['LAY KENNETH L']['total_payments']

103559793

In [273]:
enron_data['SKILLING JEFFREY K']['total_payments']

8682716

In [274]:
enron_data['FASTOW ANDREW S']['total_payments']

2424083

In [291]:
#How many folks in this dataset have a quantified salary? What about a known email address?
count_salary = 0
count_email = 0
for user in enron_data:
    if enron_data[user]['salary'] != 'NaN':
        #email[user] = enron_data[user]['email_address']
        count_salary+=1
print (count_salary)

for user in enron_data:
    if enron_data[user]['email_address'] != 'NaN':
        count_email+=1
print (count_email)

95
111

In [288]:
email

{'ALLEN PHILLIP K': 'phillip.allen@enron.com',
 'BADUM JAMES P': 'NaN',
 'BANNANTINE JAMES M': 'james.bannantine@enron.com',
 'BAXTER JOHN C': 'NaN',
 'BAY FRANKLIN R': 'frank.bay@enron.com',
 'BAZELIDES PHILIP J': 'NaN',
 'BECK SALLY W': 'sally.beck@enron.com',
 'BELDEN TIMOTHY N': 'tim.belden@enron.com',
 'BELFER ROBERT': 'NaN',
 'BERBERIAN DAVID': 'david.berberian@enron.com',
 'BERGSIEKER RICHARD P': 'rick.bergsieker@enron.com',
 'BHATNAGAR SANJAY': 'sanjay.bhatnagar@enron.com',
 'BIBI PHILIPPE A': 'philippe.bibi@enron.com',
 'BLACHMAN JEREMY M': 'jeremy.blachman@enron.com',
 'BLAKE JR. NORMAN P': 'NaN',
 'BOWEN JR RAYMOND M': 'raymond.bowen@enron.com',
 'BROWN MICHAEL': 'michael.brown@enron.com',
 'BUCHANAN HAROLD G': 'john.buchanan@enron.com',
 'BUTTS ROBERT H': 'bob.butts@enron.com',
 'BUY RICHARD B': 'rick.buy@enron.com',
 'CALGER CHRISTOPHER F': 'christopher.calger@enron.com',
 'CARTER REBECCA C': 'rebecca.carter@enron.com',
 'CAUSEY RICHARD A': 'richard.causey@enron.com',
 'CHAN RONNIE': 'NaN',
 'CHRISTODOULOU DIOMEDES': 'diomedes.christodoulou@enron.com',
 'CLINE KENNETH W': 'NaN',
 'COLWELL WESLEY': 'wes.colwell@enron.com',
 'CORDES WILLIAM R': 'bill.cordes@enron.com',
 'COX DAVID': 'chip.cox@enron.com',
 'CUMBERLAND MICHAEL S': 'NaN',
 'DEFFNER JOSEPH M': 'joseph.deffner@enron.com',
 'DELAINEY DAVID W': 'david.delainey@enron.com',
 'DERRICK JR. JAMES V': 'james.derrick@enron.com',
 'DETMERING TIMOTHY J': 'timothy.detmering@enron.com',
 'DIETRICH JANET R': 'janet.dietrich@enron.com',
 'DIMICHELE RICHARD G': 'richard.dimichele@enron.com',
 'DODSON KEITH': 'keith.dodson@enron.com',
 'DONAHUE JR JEFFREY M': 'jeff.donahue@enron.com',
 'DUNCAN JOHN H': 'NaN',
 'DURAN WILLIAM D': 'w.duran@enron.com',
 'ECHOLS JOHN B': 'john.echols@enron.com',
 'ELLIOTT STEVEN': 'steven.elliott@enron.com',
 'FALLON JAMES B': 'jim.fallon@enron.com',
 'FASTOW ANDREW S': 'andrew.fastow@enron.com',
 'FITZGERALD JAY L': 'jay.fitzgerald@enron.com',
 'FOWLER PEGGY': 'kulvinder.fowler@enron.com',
 'FOY JOE': 'tracy.foy@enron.com',
 'FREVERT MARK A': 'mark.frevert@enron.com',
 'FUGH JOHN L': 'NaN',
 'GAHN ROBERT S': 'NaN',
 'GARLAND C KEVIN': 'kevin.garland@enron.com',
 'GATHMANN WILLIAM D': 'NaN',
 'GIBBS DANA R': 'dana.gibbs@enron.com',
 'GILLIS JOHN': 'NaN',
 'GLISAN JR BEN F': 'ben.glisan@enron.com',
 'GOLD JOSEPH': 'joe.gold@enron.com',
 'GRAMM WENDY L': 'NaN',
 'GRAY RODNEY': 'NaN',
 'HAEDICKE MARK E': 'mark.haedicke@enron.com',
 'HANNON KEVIN P': 'kevin.hannon@enron.com',
 'HAUG DAVID L': 'david.haug@enron.com',
 'HAYES ROBERT E': 'robert.hayes@enron.com',
 'HAYSLETT RODERICK J': 'rod.hayslett@enron.com',
 'HERMANN ROBERT J': 'robert.hermann@enron.com',
 'HICKERSON GARY J': 'gary.hickerson@enron.com',
 'HIRKO JOSEPH': 'joe.hirko@enron.com',
 'HORTON STANLEY C': 'stanley.horton@enron.com',
 'HUGHES JAMES A': 'james.hughes@enron.com',
 'HUMPHREY GENE E': 'gene.humphrey@enron.com',
 'IZZO LAWRENCE L': 'larry.izzo@enron.com',
 'JACKSON CHARLENE R': 'charlene.jackson@enron.com',
 'JAEDICKE ROBERT': 'NaN',
 'KAMINSKI WINCENTY J': 'vince.kaminski@enron.com',
 'KEAN STEVEN J': 'steven.kean@enron.com',
 'KISHKILL JOSEPH G': 'joe.kishkill@enron.com',
 'KITCHEN LOUISE': 'louise.kitchen@enron.com',
 'KOENIG MARK E': 'mark.koenig@enron.com',
 'KOPPER MICHAEL J': 'michael.kopper@enron.com',
 'LAVORATO JOHN J': 'john.lavorato@enron.com',
 'LAY KENNETH L': 'kenneth.lay@enron.com',
 'LEFF DANIEL P': 'dan.leff@enron.com',
 'LEMAISTRE CHARLES': 'NaN',
 'LEWIS RICHARD': 'richard.lewis@enron.com',
 'LINDHOLM TOD A': 'tod.lindholm@enron.com',
 'LOCKHART EUGENE E': 'NaN',
 'LOWRY CHARLES P': 'NaN',
 'MARTIN AMANDA K': 'a..martin@enron.com',
 'MCCARTY DANNY J': 'danny.mccarty@enron.com',
 'MCCLELLAN GEORGE': 'george.mcclellan@enron.com',
 'MCCONNELL MICHAEL S': 'mike.mcconnell@enron.com',
 'MCDONALD REBECCA': 'rebecca.mcdonald@enron.com',
 'MCMAHON JEFFREY': 'jeffrey.mcmahon@enron.com',
 'MENDELSOHN JOHN': 'NaN',
 'METTS MARK': 'mark.metts@enron.com',
 'MEYER JEROME J': 'NaN',
 'MEYER ROCKFORD G': 'rockford.meyer@enron.com',
 'MORAN MICHAEL P': 'michael.moran@enron.com',
 'MORDAUNT KRISTINA M': 'kristina.mordaunt@enron.com',
 'MULLER MARK S': 's..muller@enron.com',
 'MURRAY JULIA H': 'julia.murray@enron.com',
 'NOLES JAMES L': 'NaN',
 'OLSON CINDY K': 'cindy.olson@enron.com',
 'OVERDYKE JR JERE C': 'jere.overdyke@enron.com',
 'PAI LOU L': 'lou.pai@enron.com',
 'PEREIRA PAULO V. FERRAZ': 'NaN',
 'PICKERING MARK R': 'mark.pickering@enron.com',
 'PIPER GREGORY F': 'greg.piper@enron.com',
 'PIRO JIM': 'jim.piro@enron.com',
 'POWERS WILLIAM': 'ken.powers@enron.com',
 'PRENTICE JAMES': 'james.prentice@enron.com',
 'REDMOND BRIAN L': 'brian.redmond@enron.com',
 'REYNOLDS LAWRENCE': 'NaN',
 'RICE KENNETH D': 'ken.rice@enron.com',
 'RIEKER PAULA H': 'paula.rieker@enron.com',
 'SAVAGE FRANK': 'NaN',
 'SCRIMSHAW MATTHEW': 'matthew.scrimshaw@enron.com',
 'SHANKMAN JEFFREY A': 'jeffrey.shankman@enron.com',
 'SHAPIRO RICHARD S': 'richard.shapiro@enron.com',
 'SHARP VICTORIA T': 'vicki.sharp@enron.com',
 'SHELBY REX': 'rex.shelby@enron.com',
 'SHERRICK JEFFREY B': 'jeffrey.sherrick@enron.com',
 'SHERRIFF JOHN R': 'john.sherriff@enron.com',
 'SKILLING JEFFREY K': 'jeff.skilling@enron.com',
 'STABLER FRANK': 'frank.stabler@enron.com',
 'SULLIVAN-SHAKLOVITZ COLLEEN': 'NaN',
 'SUNDE MARTIN': 'marty.sunde@enron.com',
 'TAYLOR MITCHELL S': 'mitchell.taylor@enron.com',
 'THE TRAVEL AGENCY IN THE PARK': 'NaN',
 'THORN TERENCE H': 'terence.thorn@enron.com',
 'TILNEY ELIZABETH A': 'elizabeth.tilney@enron.com',
 'TOTAL': 'NaN',
 'UMANOFF ADAM S': 'adam.umanoff@enron.com',
 'URQUHART JOHN A': 'NaN',
 'WAKEHAM JOHN': 'NaN',
 'WALLS JR ROBERT H': 'rob.walls@enron.com',
 'WALTERS GARETH W': 'NaN',
 'WASAFF GEORGE': 'george.wasaff@enron.com',
 'WESTFAHL RICHARD K': 'dick.westfahl@enron.com',
 'WHALEY DAVID A': 'NaN',
 'WHALLEY LAWRENCE G': 'greg.whalley@enron.com',
 'WHITE JR THOMAS E': 'thomas.white@enron.com',
 'WINOKUR JR. HERBERT S': 'NaN',
 'WODRASKA JOHN': 'john.wodraska@enron.com',
 'WROBEL BRUCE': 'NaN',
 'YEAGER F SCOTT': 'scott.yeager@enron.com',
 'YEAP SOON': 'NaN'}

In [292]:
#How many people in the E+F dataset (as it currently exists) have “NaN” for their total payments? 
#What percentage of people in the dataset as a whole is this?

count = 0
#count_email = 0
for user in enron_data:
    if enron_data[user]['total_payments'] == 'NaN':
        #email[user] = enron_data[user]['email_address']
        count+=1
print (count)

21

In [294]:
count*100/len(enron_data)

14.383561643835616

# Mission POI

In [ ]:
# %load ./enron/ud120-projects-master/tools/feature_format.py
#!/usr/bin/python

""" 
    A general tool for converting data from the
    dictionary format to an (n x k) python list that's 
    ready for training an sklearn algorithm

    n--no. of key-value pairs in dictonary
    k--no. of features being extracted

    dictionary keys are names of persons in dataset
    dictionary values are dictionaries, where each
        key-value pair in the dict is the name
        of a feature, and its value for that person

    In addition to converting a dictionary to a numpy 
    array, you may want to separate the labels from the
    features--this is what targetFeatureSplit is for

    so, if you want to have the poi label as the target,
    and the features you want to use are the person's
    salary and bonus, here's what you would do:

    feature_list = ["poi", "salary", "bonus"] 
    data_array = featureFormat( data_dictionary, feature_list )
    label, features = targetFeatureSplit(data_array)

    the line above (targetFeatureSplit) assumes that the
    label is the _first_ item in feature_list--very important
    that poi is listed first!
"""


import numpy as np

def featureFormat( dictionary, features, remove_NaN=True, remove_all_zeroes=True, remove_any_zeroes=False, sort_keys = False):
    """ convert dictionary to numpy array of features
        remove_NaN = True will convert "NaN" string to 0.0
        remove_all_zeroes = True will omit any data points for which
            all the features you seek are 0.0
        remove_any_zeroes = True will omit any data points for which
            any of the features you seek are 0.0
        sort_keys = True sorts keys by alphabetical order. Setting the value as
            a string opens the corresponding pickle file with a preset key
            order (this is used for Python 3 compatibility, and sort_keys
            should be left as False for the course mini-projects).
        NOTE: first feature is assumed to be 'poi' and is not checked for
            removal for zero or missing values.
    """


    return_list = []

    # Key order - first branch is for Python 3 compatibility on mini-projects,
    # second branch is for compatibility on final project.
    if isinstance(sort_keys, str):
        import pickle
        keys = pickle.load(open(sort_keys, "rb"))
    elif sort_keys:
        keys = sorted(dictionary.keys())
    else:
        keys = dictionary.keys()

    for key in keys:
        tmp_list = []
        for feature in features:
            try:
                dictionary[key][feature]
            except KeyError:
                print "error: key ", feature, " not present"
                return
            value = dictionary[key][feature]
            if value=="NaN" and remove_NaN:
                value = 0
            tmp_list.append( float(value) )

        # Logic for deciding whether or not to add the data point.
        append = True
        # exclude 'poi' class as criteria.
        if features[0] == 'poi':
            test_list = tmp_list[1:]
        else:
            test_list = tmp_list
        ### if all features are zero and you want to remove
        ### data points that are all zero, do that here
        if remove_all_zeroes:
            append = False
            for item in test_list:
                if item != 0 and item != "NaN":
                    append = True
                    break
        ### if any features for a given data point are zero
        ### and you want to remove data points with any zeroes,
        ### handle that here
        if remove_any_zeroes:
            if 0 in test_list or "NaN" in test_list:
                append = False
        ### Append the data point if flagged for addition.
        if append:
            return_list.append( np.array(tmp_list) )

    return np.array(return_list)


def targetFeatureSplit( data ):
    """ 
        given a numpy array like the one returned from
        featureFormat, separate out the first feature
        and put it into its own list (this should be the 
        quantity you want to predict)

        return targets and features as separate lists

        (sklearn can generally handle both lists and numpy arrays as 
        input formats when training/predicting)
    """

    target = []
    features = []
    for item in data:
        target.append( item[0] )
        features.append( item[1:] )

    return target, features

In [301]:
#How many POIs in the E+F dataset have “NaN” for their total payments? What percentage of POI’s as a whole is this?
count_NaN_tp = 0
for key in enron_data.keys():
    if enron_data[key]['total_payments'] == 'NaN' and enron_data[key]['poi'] == True :
        count_NaN_tp+=1
print(count_NaN_tp)
print(float(count_NaN_tp)/len(enron_data.keys()))

0
0.0

# Data Modeling

In [5]:
from sklearn import datasets
from sklearn.svm import SVC
from sklearn import cross_validation


iris = datasets.load_iris()
features = iris.data
labels = iris.target

In [3]:
features.shape, labels.shape

((150, 4), (150,))

In [6]:
features_train, features_test, labels_train, labels_test = cross_validation.train_test_split(features, labels, test_size=0.4, random_state=0)

In [15]:
clf = SVC(kernel="linear", C=1.)
clf.fit(features_train, labels_train)

print(clf.score(features_test, labels_test))

0.966666666667

### Evaluate accuracy on Titanic data

In [58]:
import numpy as np
import pandas as pd

# Load the dataset
X = pd.read_csv('titanic_data.csv')
# Limit to numeric data
X = X._get_numeric_data()
# Separate the labels
y = X['Survived']
# Remove labels from the inputs, and age due to missing data
del X['Age'], X['Survived']

from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB
from sklearn import cross_validation

In [18]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [60]:

# TODO: split the data into training and testing sets,
# using the standard settings for train_test_split.
# Then, train and test the classifiers with your newly split data instead of X and y.

X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size=0.4, random_state=0)

In [61]:
# The decision tree classifier
clf1 = DecisionTreeClassifier()
clf1.fit(X_train,y_train)
print("Decision Tree has accuracy: ",accuracy_score(clf1.predict(X_test),y_test))

Decision Tree has accuracy:  0.652661064426

In [62]:
# The naive Bayes classifier
clf2 = GaussianNB()
clf2.fit(X_train,y_train)
print("GaussianNB has accuracy: ",accuracy_score(clf2.predict(X_test),y_test))

answer = { 
 "Naive Bayes Score": 0, 
 "Decision Tree Score": 0
}

GaussianNB has accuracy:  0.672268907563

In [63]:
answer

{'Decision Tree Score': 0, 'Naive Bayes Score': 0}

In [64]:
from sklearn.metrics import confusion_matrix

In [65]:
confusion_matrix(clf1.predict(X_test),y_test)

array([[162,  65],
       [ 59,  71]])

In [66]:
confusion_matrix(clf2.predict(X_test),y_test)

array([[188,  84],
       [ 33,  52]])

In [68]:
# In this exercise, we'll use the Titanic dataset as before, train two classifiers and
# look at their confusion matrices. Your job is to create a train/test split in the data
# and report the results in the dictionary at the bottom.

import numpy as np
import pandas as pd

# Load the dataset
from sklearn import datasets

X = pd.read_csv('titanic_data.csv')

X = X._get_numeric_data()
y = X['Survived']
del X['Age'], X['Survived']


from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix
from sklearn.naive_bayes import GaussianNB
from sklearn import cross_validation


# TODO: split the data into training and testing sets,
# using the default settings for train_test_split (or test_size = 0.25 if specified).
# Then, train and test the classifiers with your newly split data instead of X and y.

X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size=0.25, random_state=0)

clf1 = DecisionTreeClassifier()
clf1.fit(X_train,y_train)
print("Confusion matrix for this Decision Tree:\n",confusion_matrix(clf1.predict(X_test),y_test))

clf2 = GaussianNB()
clf2.fit(X_train,y_train)
print("GaussianNB confusion matrix:\n",confusion_matrix(clf2.predict(X_test),y_test))

#TODO: store the confusion matrices on the test sets below

confusions = {
 "Naive Bayes": np.matrix('99,37; 40 47'),
 "Decision Tree": np.matrix('122 48; 17 36')
}

Confusion matrix for this Decision Tree:
 [[99 39]
 [40 45]]
GaussianNB confusion matrix:
 [[122  48]
 [ 17  36]]

# Precision and Recall

In [70]:
# As with the previous exercises, let's look at the performance of a couple of classifiers
# on the familiar Titanic dataset. Add a train/test split, then store the results in the
# dictionary provided.

import numpy as np
import pandas as pd

# Load the dataset
X = pd.read_csv('titanic_data.csv')

X = X._get_numeric_data()
y = X['Survived']
del X['Age'], X['Survived']


from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import recall_score as recall
from sklearn.metrics import precision_score as precision
from sklearn.naive_bayes import GaussianNB
from sklearn import cross_validation

# TODO: split the data into training and testing sets,
# using the standard settings for train_test_split.
# Then, train and test the classifiers with your newly split data instead of X and y.
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size=0.25, random_state=0)

clf1 = DecisionTreeClassifier()
clf1.fit(X_train, y_train)
print("Decision Tree recall: {:.2f} and precision: {:.2f}".format(recall(y_test,clf1.predict(X_test)),precision(y_test,clf1.predict(X_test))))

clf2 = GaussianNB()
clf2.fit(X_train, y_train)
print("GaussianNB recall: {:.2f} and precision: {:.2f}".format(recall(y_test,clf2.predict(X_test)),precision(y_test,clf2.predict(X_test))))

results = {
  "Naive Bayes Recall": 0.43,
  "Naive Bayes Precision": 0.56,
  "Decision Tree Recall": 0.56,
  "Decision Tree Precision": 0.56
}

Decision Tree recall: 0.56 and precision: 0.56
GaussianNB recall: 0.43 and precision: 0.68

# F1 score

In [72]:
# As usual, use a train/test split to get a reliable F1 score from two classifiers, and
# save it the scores in the provided dictionaries.

import numpy as np
import pandas as pd

# Load the dataset
X = pd.read_csv('titanic_data.csv')

X = X._get_numeric_data()
y = X['Survived']
del X['Age'], X['Survived']

from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import f1_score
from sklearn.naive_bayes import GaussianNB
from sklearn import cross_validation

# TODO: split the data into training and testing sets,
# using the standard settings for train_test_split.
# Then, train and test the classifiers with your newly split data instead of X and y.

X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size=0.25, random_state=0)

clf1 = DecisionTreeClassifier()
clf1.fit(X_train, y_train)
print("Decision Tree F1 score: {:.2f}".format(f1_score(y_test, clf1.predict(X_test))))

clf2 = GaussianNB()
clf2.fit(X_train, y_train)
print("GaussianNB F1 score: {:.2f}".format(f1_score(y_test, clf2.predict(X_test))))

F1_scores = {
 "Naive Bayes": 0.53,
 "Decision Tree": 0.55
}

Decision Tree F1 score: 0.54
GaussianNB F1 score: 0.53

# Mean absolute and squared error

In [75]:
import numpy as np
import pandas as pd

# Load the dataset
from sklearn.datasets import load_linnerud

linnerud_data = load_linnerud()
X = linnerud_data.data
y = linnerud_data.target

from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import mean_squared_error as mse
from sklearn.linear_model import LinearRegression
from sklearn import cross_validation

# TODO: split the data into training and testing sets,
# using the standard settings for train_test_split.
# Then, train and test the classifiers with your newly split data instead of X and y.
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size=0.25, random_state=0)

reg1 = DecisionTreeRegressor()
reg1.fit(X_train, y_train)
print("Decision Tree mean absolute error: {:.2f}".format(mae(y_test,reg1.predict(X_test))))

reg2 = LinearRegression()
reg2.fit(X_train, y_train)
print("Linear regression mean absolute error: {:.2f}".format(mae(y_test,reg2.predict(X_test))))

reg3 = DecisionTreeRegressor()
reg3.fit(X_train, y_train)
print("Decision Tree mean absolute error: {:.2f}".format(mse(y_test, reg3.predict(X_test))))

reg4 = LinearRegression()
reg4.fit(X_train, y_train)
print("Linear regression mean absolute error: {:.2f}".format(mse(y_test, reg4.predict(X_test))))

results = {
 "MAE Linear Regression": 11.45,
 "MAE Decision Tree": 5.47,
 "MSE Linear Regression": 380.46,
 "MSE Decision Tree": 93.52

}

Decision Tree mean absolute error: 17.80
Linear regression mean absolute error: 11.45
Decision Tree mean absolute error: 175.60
Linear regression mean absolute error: 380.46